@model IEnumerable<ProdutoIndexVM>
@{
    ViewBag.Title = "Listagem de Produtos";
    ViewBag.SubTitle = "Listagem de Produtos Cadastados no Sistema!!";

}


<div>
    <a asp-controller="Produtos" asp-action="AddEdit" class="btn btn-outline-secondary">Adicionar Produto</a>
</div>

<div>
    <table class="table  table-striped table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Data de Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="item-@item.Id">
                    <td>@item.Nome</td>
                    <td>@item.Preco.ToString("C2")</td>
                    <td>@item.Categoria</td>
                    <td>@item.DataCadastro.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-outline-success btn-sm" asp-action="AddEdit" asp-controller="Produtos" asp-route-id="@item.Id">Editar</a>
                        <button type="button" class="btn btn-outline-danger btn-sm" onclick="excluir(@item.Id, '@item.Nome', 'Produto', '@Url.Action("Excluir","Produtos")')">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_modalDel">


    @section scripts{
        <script src="~/js/dell-modal.js"></script>
    }
